html {
  font-size: 16px;

  --font-onest: "Onest", system-ui, sans-serif;

  --color-black-100: #000000;
  --color-black-200: #565A6A;

  --color-white-100: #FFFFFF;
  --color-white-200: #EEEEF1;

  --color-blue-100: #F6F9FE;
  --color-blue-200: #437AED;
  --color-blue-300: #2E63D6;

  --color-green-100: #E9F6EE;
  --color-green-200: #23B24C;

  --color-gray-100: #F2F3F5;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  min-height: 100vh;
  line-height: 100%;
  font-family: var(--font-onest), serif;
  font-weight: 400;
  color: var(--color-blue-700);
}

main {
  min-height: 100vh;
  max-width: 375px;
  margin: 0 auto;
}

button,
form,
input,
textarea {
  font-family: var(--font-onest), serif;
  font-weight: 400;

  outline: none;
}
