@import "tailwindcss";

@theme {
  --spacing: 0.0625rem;

  --default-transition-duration: 0.3s;

  --breakpoint-m: 375px;
  --breakpoint-t: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-d: 1280px;
  --breakpoint-xl: 1440px;
  --breakpoint-xxl: 1600px;

  --color-black-100: #000000;
}
